<!DOCTYPE html>
<html class="peary">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Vted">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        
        <title>{% block title %}Peary Admin{% endblock %}</title>
        
        {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <style>
            .peary body{
                background-color: #475058;
                color: white;
            }

            .peary h1 {
                padding-bottom: 10px;
            }

            .peary a {
                color: #02adea;
            }

            .peary .ariane{
                background-color: #fff;
                padding: 10px 0;
            }

            .peary .ariane .brand{
                color: #333;
            }
            .peary .ariane .brand i{
                color: #02adea;
            }

            .peary .ariane .menu{
                color: #333;
            }

            .peary .ariane .breadcrumb{
                background-color: transparent;
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                display: inline-block;
            }

            .peary .alert-content{
                background-color: white;
                color: #333;
            }
            .peary .code{
                font-family: monospace;
            }
        </style>

        {% endblock %}
    </head>
    <body>

    <nav class="ariane">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="brand">
                        <i class="fa fa-ship" aria-hidden="true"></i> PearyBundle
                    </span>
                    {% block breadcrumb %}
                    {% endblock breadcrumb %}
                </div>
                <div class="col-md-4 menu">
                    loged as : {{ app.user }}
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block header %}
        {% endblock header %}

        {% block content -%}
        {% endblock content %}  
    </div>

        {% block javascripts %}
            {# jQuery #}
            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

            {# jQuery UI Touch Punch #}
            <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

            {# Twitter Bootstrap #}
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        {% endblock %}
    </body>
</html>
