<!DOCTYPE html>
<html class="peary">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Vted">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        
        <title>{% block title %}Peary Admin{% endblock %}</title>
        
        {% block stylesheets %}
            {% stylesheets '@VtedPearyBundle/Resources/assets/css/main.css' filter="cssrewrite"  output='css/peary.css' %}
                <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
    </head>
    <body>

    <nav class="ariane">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="brand">
                        <i class="fa fa-ship" aria-hidden="true"></i> PearyBundle
                    </span>
                    {% block breadcrumb %}
                    {% endblock breadcrumb %}
                </div>
                <div class="col-md-4 menu">
                    loged as : {{ app.user }}
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block header %}
        {% endblock header %}

        {% block content -%}
        {% endblock content %}  
    </div>

        {% block javascripts %}
            {# jQuery #}
            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

            {# jQuery UI Touch Punch #}
            <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

            {# Twitter Bootstrap #}
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        {% endblock %}
    </body>
</html>
