{% extends 'VtedPearyBundle::layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> Peary</li>
    </ol>
{% endblock %}

{% block header %}
    <h1>
        Homepage
    </h1> 
{% endblock header %}

{% block content -%}
    <div class="alert alert-content">
        <h4>Welcome to PearyBundle !</h4>

        <p>You can check error logs</p>
        <ul>
            <li><a href="{{ path('vted_peary_errorlog_exception') }}"> Listener Exeptions Logs</a></li>
            <li><a href="{{ path('vted_peary_errorlog_monolog') }}"> Monolog Logs</a></li>
        </ul>

        <p>You can check sent emails</p>
        <ul>
            <li><a href=""> under developpement... </a></li>
        </ul>
    </div>
{% endblock %}
