{% extends 'VtedPearyBundle::layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('vted_peary_homepage') }}"><i class="fa fa-home"></i> Peary</a></li>
        <li class="active">Email Logs</li>
    </ol>
{% endblock %}

{% block header %}
    <h1>
        Email Logs
    </h1> 
{% endblock header %}

{% block content -%}
    <div class="alert alert-content">
        <h4>Listing !</h4>

        <p>Soon...</p>
    </div>
{% endblock %}
